<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" ng-app="Pirate3D"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Pirate 3D - UI Challenge</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
    </head>
    <body ng-cloak>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="megaHash" ng-controller="MegaHashCntrl">
          <div class="no-entry" ng-show="!files.length">No records found...</div>
          <ul class="files" ui-sortable ng-model="files">
            <li ng-repeat="file in files" class="each-file">
              <div id="progress_bar" ng-class="{loading: file.loading}"><div ng-style="file.style" class="percent"></div></div>
              <div class="file-details fleft">
                <div class="file-hash-div">File Name :
                  <span class="file-name">{{ file.name }}</span>
                </div>
                <div class="file-hash-div"><b>Megahash</b> :
                  <span ng-if="file.loading && !file.Canceled" class="file-hash">Computing... - <a class="cancel" ng-click="CancelComputation($index)">Cancel</a></span>
                  <span ng-if="file.Canceled" class="file-hash">Computation Cancelled... - <a class="cancel" ng-click="megaHashIterate(file.read, file.NumValue, $index)">Recompute</a></span>
                  <span ng-if="!file.loading && !file.Canceled" class="file-hash">{{ file.megahash }}</span>
                </div>
              </div>
              <div class="iterations fleft">
                Iterations : <input type="number" min="0" ng-blur="megaHashIterate(file.read, file.NumValue, $index)" ng-model="file.NumValue" class="iteration-number form-control">
              </div>
              <div class="button-close fright" ng-click="MegaHashDestroy($index)" destroy="{{$index}}"><span>x</span></div>
              <div class="clear"></div>
            </li>
          </ul>
          <div class="file-input btn btn-block btn-primary btn-file button-add">
              <span><b>+</b></span> Add a file to megahash...<input type="file" id="files" ng-model="singleFile" name="file" ng-file-select="onFileSelect($files)">
          </div>
        </div>

        <script src="js/vendor/md5_param.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
